* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #dca3a3;
    height: 100px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
